<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MR MEER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="main-container">
        <div class="header-bar">
            <div class="spacer"></div>
            <button class="menu-btn-open" onclick="toggleMenu()">☰</button>
            
        </div>

        <div id="fullScreenMenu" class="overlay-menu">
            <button class="menu-btn-close" onclick="toggleMenu()">×</button>
            <div class="overlay-content">
                <a href="/" onclick="toggleMenu()">INICIO</a>
                <a href="/productos" onclick="toggleMenu()">PRODUCTOS</a>
                <a href="/contacto" onclick="toggleMenu()">CONTACTO</a>
                <a href="#" onclick="toggleMenu()">MI CUENTA</a>
            </div>
        </div>
        <div class="section-inicio content-wrapper">
            <div class="logo-wrapper">
                <img src="{{ url_for('static', filename='estrellameerpng-pag1.png') }}" class="star-bg" alt="Estrella Fondo">
                <h1 class="brand-title">MRMEER</h1>
            </div>

            <div class="info-text">
                <p>✨ Comida callejera para todos,<br>abierto de sol a luna 🌙</p>
            </div>

            <div class="button-group">
                <a href="https://menu.fu.do/mr.meer/qr-menu" class="btn">CARTA</a>
                <a href="https://menu.fu.do/mr.meer" class="btn">PEDIR ONLINE</a>
            </div>
        </div>
        <div class="section-nosotros">
            <h2>Sobre Nosotros</h2>
            <p>Aquí va la frase del local...</p>
        </div>
        <div class="section-colaborar">
            <h3>¿Quieres ser parte del equipo?</h3>
            <button class="btn">Enviar CV</button>
        </div>
        <div class="footer-links">
            <a href="https://www.facebook.com/" target="_blank">Facebook</a> |
            <a href="https://www.instagram.com/" target="_blank">Instagram</a> |
            <a href="{{ url_for('contacto') }}">Contacto</a>
        </div>
        </div> 
    <script>
        function toggleMenu() {
            var menu = document.getElementById("fullScreenMenu");
            menu.classList.toggle("active");
        }
    </script>
</body>
</html>